@import url('logo-gloss.css');

html {
	height: 100%;
	max-height: 100%;
	font-size: 13px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

body {
	background: #f7f8fa;
	color: #333;
}

/* Main Elements */
#container {
	padding: 30px;
}

#logoheader {
	height: 100px;
	background: url("../img/Adyen_logo.png") left 20px no-repeat;
}

#content,
#foot {
	width: 940px;
	margin: 0 auto;
}

#pmcontent {
}

#foot {
	padding-top: 0px;
}

#footc {
	margin-bottom: 0px;
	padding: 0px 0px;
	height: 68px;
}

.paddiv1, .paddiv2 {
	height: 0px;
}

#nextstep {
	font-weight: bold;
	height: 22px;
	color: #696969;
	font-size: 1.1em;
	margin: 10px 0;
}

#nextstepc {
	font-weight: normal;
	color: #333;
}

.popupMsg {
	display: none;
	border: 1px solid #E49836;
	background-color: #eee;
	margin-bottom: 5px;
	padding: 6px;
}

.popupMsgOPP {
	position: relative;
	top: -155px;
	margin-left: 0px;
	z-index: 10;
}

/* Common HTML Elements in #content */

#content h2 {
	color: #012169;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 30px;
	line-height: 38px;
}

#content h3 {
	margin-left: 5px;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#content pre {
	font-family: courier, monospace;
	font-size: 1em;
}

#content p {
	margin-bottom: 5px;
}

.pmmdetails {
}

.fieldSubHeader {
	font-weight:bold;
	margin-bottom:0.5em;
	margin-top:0.5em;
}

#displayAmount {
	font-size: 14px;
	padding-bottom: 20px;
}

/* Table */
table.basetable {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 500px;
}

table.basetable td {
	padding-bottom: 0.6em;
	padding-right: 0.6em;
	line-height: 1.2;
}

/* Order Data Layout */
table.od {
	margin: 10px 0px 10px 0px;
}

table.od td, table.od th  {
	padding: 5px;
	border: 1px solid #999;
}

table.od th {
	font-weight: bold;;
}

/* Image Buttons (Payment Methods) */

.imgB {
	width: 158px;
	height: 32px;
	padding: 0;
	border: 0;
	background: transparent url("../img/bg_buttons.png") no-repeat left 0px;
	overflow: hidden;
	color: #444;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */
	font-size: 1.2em;
	outline: none;
}

.imgB:hover, .imgB:active {
	color: #012169;
}

.pmB {
	width: 400px;
	height: 42px;
	padding-left: 85px;
	text-align: left;
	margin-bottom: 6px;
	font-size: 1.1em;
	background-color: transparent !important;
}

/* Image Buttons Footer (next/previous/pay) */

#footerb1div {
	float: left;
	text-align: left;
}

#footerb2div {
	float: right;
	text-align: right;
}

.footerB, .paySubmit, div.pmOcDetail input[type="submit"] {
	background-color: #61AB23;
	font-size: 15px;
	padding: 10px 25px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 1;
	display: inline-block;
	color: white;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #61AB23;
	position: relative;
	cursor: pointer;
	outline: none;
}

.footerB.backB {
	background: #012169;
	border-color: #012169;
	color: #fff;
}

.footerB.backB:focus,
.footerB.backB:hover {
	background: #fff;
	color: #012169;
}

.paySubmit:hover, .footerB:hover, div.pmOcDetail input[type="submit"]:hover {
	background-color: #fff;
	color: #61AB23;
}

.backB {
	background: #fff;
	color: #012169;
}

/* Links */

a {
	text-decoration: underline;
	color: #012169;
}

a:visited {
	color: #012169;
}

/* Form elements */

input,select {
	font-size: 0.95em;
	padding: 1px;
	border: 1px solid #C3C3C3;
	border-top-color: #7C7C7C;
	border-bottom-color: #DDD;
	border: #e1e1e1;
	padding: 5px;
}

select {
	background: #fff;
	height: 38px;
}

input,
table.basetable .inputField {
	border: 1px solid #e1e1e1;
	padding: 10px;
}

label,
table.basetable td div {
	color: #060606;
	font-size: 14px;
}


button:focus {
	outline: none;
}

/* Validation */

table.basetable .inputField {
	padding: 10px;
	outline: none;
}

table.basetable .inputField:focus {
	border-color: #007db6;
}

table.basetable .errorField {
	border: 1px solid #E49836;
	background-color: #FFF8C4;
}

.fieldDiv {
	padding-right: 20px;
	margin-bottom: 10px;
	background: transparent;
}

.errorDiv {
	padding-right: 20px;
}

.errorFrame {
	background-color: #FFF8C4;
}

/********************************************/
/*               oneclick                   */
/********************************************/
.pmOc {
	margin-bottom: 10px;
}

.pmOc div.pmOcDetail {
	background-color: #EEEEEE;
	border: 1px solid #B4B4B4;
	padding: 6px;
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	width: 400px;
}

.pmOc div.pmOcPad {
	height: 1px;
	display: block;
	clear: both;
}

.pmOcRemove {
	float: left;
	margin-left: 10px;
}

.pmOcInput {
	background-color: #fff;
}

.pmOcRadio {
	float: left;
}

.pmOcDetailSummary {

	height: 97px; /*101px;*/
	width: 160px;
	color: white;
	clear:both;
	font-family:monospace;
	font-size: 11px;
	font-weight:bold;
	line-height:1.3;
	padding-top: 10px;
	margin:4px 0 0 4px;
}


.pmOcDetailSummaryCard {
	background-image: url(/hpp/img/card_generic.png);
	background-repeat: no-repeat;
}
.pmOcDetailSummaryElv {
	background-image: url(/hpp/img/elv_generic.png);
	background-repeat: no-repeat;
}

.pmOcLogo {
	height:22px;
	width:40px;
	background-color: white;
	margin: 0px 0px 11px 110px;
}
.pmOcElv {
	color: #888;
	margin-bottom: 19px;
	height:15px;
	margin-left: 10px;
	letter-spacing: 3px;
}
.pmOcPan {
	height:15px;
	padding-top: 9px;
	margin-left: 14px;
}
.pmOcExp {
	height:15px;
	font-size: 10px;
	margin-left: 105px;
}
.pmOcName {
	height:15px;
	margin-left: 14px;
	text-transform: uppercase;
}

.pmOcArrow {
	margin-left: 65px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url(/hpp/img/arrow_down.png);
}

/* old oneclick - directdebit_NL */
.pmOcDDNL, .pmOcDDNLHeader {
	color: #888;
}

.pmOcDDNLHeader {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 1.1em;
}

.pmOcDDNL {
	margin-bottom: 5px;
	letter-spacing: 2px;
}

div.pmOcDetail .fieldDiv, div.pmOcDetail .errorDiv {
	display: inline;
}

div.pmOcDetail input {
	background-color: white;
}

div.pmOcPay {
	text-align: right;
}

/********************************************/
/********************************************/


/********************************************/
/*            new oneclick                  */
/********************************************/

.pmOcOverview {
	margin-bottom: 10px;
	display: block;
}

.pmOcOverview div.pmOcDetail {
	background-color: #EEEEEE;
	border: 1px solid #B4B4B4;
	padding: 6px;
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
	width: 278px;
}

.pmOcOverview div.pmOcDetailSummary {
	margin: 0px;
	padding: 0px;
	height: 58px;
	width: 272px;
	clear:both;
	font-size: 11px;
	font-weight:normal;
	line-height:1.3;
	cursor: pointer;
	color: black;
	font-family: tahoma, verdana, arial, sans-serif;
}

.pmOcOverview div.pmOcPad {
	height: 1px;
	display: block;
	clear: both;
}

.pmOcOverview div.pmOcLogo {
	height:22px;
	width:40px;
	background-color: white;
	margin: 0px;
}

.pmOcOverview div.pmOcField1 {
	height:15px;
	padding-top: 9px;
	margin-left: 0px;
}

.pmOcOverview div.pmOcField2 {
	padding-top: 0px;
	height:15px;
	margin-left: 0px;
}

.pmOcOverview span.pmOcFieldTitle {
	float: left;
	width: 130px;
}

.ocRemoveDetail {
	cursor: pointer;
	position: relative;
	top: 3px;
	left: 2px;
}

.ocNewDetailsLink {
	cursor: pointer;
	text-decoration: underline;
}

.ocStoredDetails {
	font-size: 1.25em;
}

/* new oneclick - card */
.ocCardLogo {
	cursor: pointer;
}
.ocCardUpdateExpiryDate {

}
.ocCardUpdateExpiryDateLink {
	cursor: pointer;
	text-decoration: underline;
}
.cardNumberTitle {
	width:	200px;
}


/* new oneclick - directdebit - generic */

.ocDDAccount {
	float:	left;
	padding: 4px;
}

.ocDDAccountLink {
	cursor: pointer;
	border: 1px solid #84e33c;
	margin: 3px 9px 3px 1px;
	color: #999999;
}

.ocDDAccountNoLink {
	margin: 2px 8px 2px 0px;
	border: 2px solid #84e33c;
}
/* new oneclick - directdebit_NL */
.ocDDNLAccount {}
.ocDDNLAccountLink {}
.ocDDNLAccountNoLink {}

/* new oneclick - directdebit_BR */
.ocDDBRAccount {}
.ocDDBRAccountLink {}
.ocDDBRAccountNoLink {}

/********************************************/
/********************************************/


/* ivr specific css */

.ivricon {
	display: block;
	margin-right: 10px;
	float: left;
}
.ivrmessage {
	display: block;
	font-weight: bold;
}
.ivrdetail {
	display: block;
	margin-top: 5px;
	font-weight: bold;
	font-family: arial, sans-serif;
}


#phoneNumber .ivrdetail {
	color: #57A022;
	font-size: 2.4em;
}

#payCode .ivrdetail {
	color: #1F5F98;
	font-size: 2.4em;
}
#timeToCall .ivrmessage {
	font-weight: normal;
	line-height: 1.1em;
}

#timeToCall .ivrmessage .phoneDetails, #timeLeft {
	font-weight: bold;
	color:  #57A022;
	font-family: arial, sans-serif;
}


.progressW {
	width: 400px;
	margin-left: 50px;
	padding: 1px;
	border: 1px solid #666;
	background-color: transparent
}
.progress {
	width: 0px;
	font-size: 1px;
	height: 14px;
	margin: 0px;
	padding:0px;
	background-color: #66C931;
	background-image: url(/hpp/img/progress3.png);
	background-repeat: repeat-x;
}

.ebanking_FIFrame {
	width: 300px;
	float: right;
}

.ebanking_FIHeader {
	font-weight:    bold;
	margin-bottom:  5px;
	margin-top:     5px;
	color:          #1678A5;
}

.ebanking_FIText {
	padding:        5px;
}

.invoicestat {
	width: 55%;
	border: 2px solid black;
	font-family: courier, monospace;
	padding: 17px 10px 17px 61px;
}

.invoicestatPaid      { border-color: green; background-color: #efe; }
.invoicestatUnPaid    { border-color: orange; background-color: #fff5ee; }
.invoicestatCannotPay { border-color: red; background-color: #fee; }

.receiptNoPrint {
	display: none;
}
.receiptPrint {
	display: none;
}

/* Tokenization classes */
.tokenization .tokenization-header {
	background: #ffffff;
	-webkit-box-shadow: inset 0 -10px 10px -5px #cccccc;
	-moz-box-shadow: inset 0 -10px 10px -5px #cccccc;
	box-shadow: inset 0 -10px 10px -5px #cccccc;
}

.tokenization .tokenization-header .tokenization-logo {
	background: url(../img/Adyen_logo.png) no-repeat 0 0;
}

.tokenization .tokenization-header .tokenization-logoff {
	color: #000000;
}

.tokenization .tokenization-content-container .tokenization-title {
	background: #3e8b41;
	color: #ffffff;
}

.tokenization .tokenization-button {
	background: #3e8b41;
	color: #ffffff;
}

/* Bitcoin */
.hpp-bitcoin-container,
.hpp-bitcoin-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family: 'Open Sans', sans-serif;
}

.hpp-stage-header {
	margin: 30px 0;
}

#content .hpp-bitcoin-title {
	float: left;
	padding: 0;
	margin: 0;
	max-width: 550px;

	line-height: 28px;
	word-break: break-all;
}

.hpp-bitcoin-logo {
	float: right;
	height: 25px;
}

.hpp-bitcoin {
	border: 1px solid #cdcdd3;

	background: #ffffff;
}

.hpp-bitcoin-wallet,
.hpp-bitcoin-qrcode {
	width: 49.5%;
}

.hpp-bitcoin-wallet,
.hpp-bitcoin-qrcode-url {
	padding: 35px;
}

.hpp-bitcoin-wallet {
	float: left;
}

.hpp-bitcoin-wallet-label,
.hpp-bitcoin-wallet-original,
.hpp-bitcoin-wallet-btc {
	font-size: 18px;
}

.hpp-bitcoin-currency {
	text-align: center;
}

.hpp-bitcoin-currency-table {
	display: inline-block;
}

.hpp-bitcoin-wallet-original,
.hpp-bitcoin-wallet-btc {
	display: table-row;
}

.hpp-bitcoin-wallet-original span {
	padding-bottom: 5px;
}

.hpp-bitcoin-wallet-original span,
.hpp-bitcoin-wallet-btc span {
	display: table-cell;
}

.hpp-bitcoin-wallet-original .before-digit,
.hpp-bitcoin-wallet-btc .before-digit {
	text-align: right;
}

.hpp-bitcoin-wallet-original .currency,
.hpp-bitcoin-wallet-btc .currency {
	padding-right: 5px;
}

.hpp-bitcoin-wallet-button,
.hpp-bitcoin-qr-button,
.hpp-bitcoin-timer {
	font-size: 16px;
	text-align: center;
}

.hpp-bitcoin-wallet-label {
	margin-bottom: 25px;

	text-align: center;
}

.hpp-bitcoin-wallet-original {
	font-weight: 600;
}

.hpp-bitcoin-wallet-button,
.hpp-bitcoin-qr-button {
	border: 1px solid #3c8a2e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	margin: 22px 10px 28px 10px;

	line-height: 45px;
}

.hpp-bitcoin-wallet-button {
	background: #3c8a2e;
	color: #ffffff;
}

.hpp-bitcoin-wallet-button.inactive,
.hpp-bitcoin-qr-button {
	border-color: #cdcdd3;

	background: #ffffff;
	color: #333333;
}

.hpp-bitcoin-qr-button {
	display: none;

	cursor: pointer;
}

.hpp-bitcoin-timer {
	position: relative;
}

.hpp-bitcoin-timer {
	display: none;
	float: left;
	margin-top: 70px;
	width: 100%;

	color: #3c8a2e;
}

.hpp-bitcoin-timer-time {
	float: right;
	margin-right: 10px;
}

.hpp-bitcoin-or {
	position: relative;

	float: right;
	height: 340px;
	width: 1px;

	background: #cdcdd3;
}

.hpp-bitcoin-or-label {
	position: absolute;
	top: 50%;
	left: 0;

	border: 1px solid #cdcdd3;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 35px;
	margin: -20px 0 0 -17px;
	width: 35px;

	background: #ffffff;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
}

.hpp-bitcoin-qrcode {
	float: right;
}

.hpp-bitcoin-qrcode-url {
	border: 1px solid #f8f7f3;
	display: block;

	background: #f8f7f3;
}

.hpp-bitcoin-qrcode-url,
.hpp-bitcoin-qrcode-url img {
	display: block;
	margin: 0 auto;
}

.hpp-bitcoin-qrcode-url img {
	height: 270px;
}

.hpp-bitcoin-message {
	display: none;
	margin-top: 15px;

	text-align: right;
}

/* Spinner */
@keyframes hpp-spinner {
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes hpp-spinner {
	to {
		-webkit-transform: rotate(360deg);
	}
}

.hpp-spinner {
	position: relative;
	top: -1px;
	left: -20px;

	min-width: 24px;
	min-height: 24px;
}

.hpp-spinner:before {
	position: absolute;
	top: 50%;
	left: 50%;

	height: 16px;
	margin-top: -10px;
	margin-left: -10px;
	width: 16px;

	content: '';
}

.hpp-spinner:not(:required):before {
	border-radius: 50%;
	border: 2px solid #cdcdd3;
	border-top-color: #3c8a2e;

	animation: hpp-spinner 1.2s linear infinite;
	-webkit-animation: hpp-spinner 1.2s linear infinite;
	content: '';
}

/* Helpers */
.hpp-clearfix:before,
.hpp-clearfix:after {
	content: " ";
	display: table;
}

.hpp-clearfix:after {
	clear: both;
}

#paymentMethods > li {
	margin-bottom: 15px;
}

.red {
	color: #333;
}

#header {
	background: #012169;
	padding: 0 27px;
}

.header-logo {
	background: url(../img/email-header.jpg) no-repeat 0 0;
	width: 940px;
	height: 120px;
	margin: 0 auto;
	position: relative;
	left: -23px;
}

/* Responsive classes */
@media only screen and (max-width: 1024px) {
	#content,
	#foot,
	.header-logo {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {

	/* Default */
	html,
	body {
		min-width: 320px;
	}

	#logoheader {
		background-position: center 15px;
	}

	table.basetable,
	table.basetable td,
	.imgB {
		width: auto;
	}

	#pageform {
	}

	table.basetable td {
		display: block;
	}

	.paySubmit {
		float: left;
	}

	/* Bitcoin */
	.hpp-bitcoin-title-spacer,
	.hpp-bitcoin-logo,
	.hpp-bitcoin-or {
		display: none;
	}

	.hpp-bitcoin-timer {
		display: none !important;
	}

	.hpp-bitcoin-title-step,
	.hpp-bitcoin-title-instructions {
		display: block;
	}

	#content .hpp-bitcoin-title,
	.hpp-bitcoin-wallet,
	.hpp-bitcoin-qrcode {
		float: none;
		width: 100%;
	}

	.hpp-stage-header {
		margin: 0 0 15px 0;
	}

	#content .hpp-bitcoin-title {
		font-size: 20px;
	}

	.hpp-bitcoin-title-step,
	.hpp-bitcoin-title-instructions,
	.hpp-bitcoin-message {
		text-align: center;
	}

	.hpp-bitcoin-title-step {
		margin-bottom: 5px;
	}

	.hpp-bitcoin-wallet {
		padding: 35px 10px 10px 10px;
	}

	.hpp-bitcoin-wallet-button {
		margin: 35px 0 0 0;
	}

	.hpp-bitcoin-wallet-original,
	.hpp-bitcoin-wallet-btc {
		font-size: 25px;
	}

	.hpp-bitcoin-qr-button {
		margin: 10px 0 0 0;
	}

	.hpp-bitcoin-qrcode {
		padding: 0 10px 10px 10px;
	}

	.hpp-bitcoin-qrcode-url {
		border-color: #cdcdd3;
		padding: 20px 0;
	}

	.hpp-bitcoin-qrcode-url img {
		height: 240px;
	}

	#content, #foot {
		width: auto;
	}

	#content,
	#foot,
	.header-logo {
		width: auto;
	}
}